<body class="dailogbox">
  <form [formGroup]="emailform" (ngSubmit)="onClickSubmit()" class="divcontent"> 
    <div >
      <ion-label class="forgottxt">Forgot Password?</ion-label>
      </div>
      <div>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" required></ion-input>
          
        </ion-item>
        <p style="color: red;" *ngIf="submitted && f.email.errors">Email must be a valid email address</p>
      </div>
      <div >
         <button type="submit" class="sumbtn">Send OTP</button>
      </div>
   
  </form>
    
      
        
    
</body>
