
  <ion-header class="header" fxLayout="row" fxLayoutAlign="space-around center">
    <div>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu" style="color: white"></ion-menu-button>
      </ion-buttons>
    </div>
    <div fxLayout=column style="height: 100%;" fxLayoutAlign="center start" fxFlex="60">
      <ion-label class="name">Hello {{userdetails.displayName}},</ion-label>
      <ionlabel class="A-and-P">Invoices and delivery status</ionlabel>
    </div>
   
    
   <div fxFlex="20"  fxLayoutAlign="center center" >
      <img (click)="onClickProfile($event)" class="pic" src="../../assets/img/user.svg">
  </div>
  </ion-header>

  <ion-content style="overflow: auto;"   >
    <div fxFlex style="margin-top:10px;" fxLayoutAlign="space-around center" 
      fxLayout="column" fxLayoutGap="20px">
      <ion-card class="card" fxFlex="50" >
        <ion-card-header style="height: 19%; width: 100%; border-bottom:2px solid  #e2e2e2;" fxLayout="row">
          <div fxFlex="55" fxLayoutAlign="start center">
            <ion-label class="title">APPROVED / PENDING INVOICES</ion-label>
          </div>
          <div fxFlex>

          </div>
          <div fxFlex="20" style="background-color: #e2e2e2; height: 90%;" fxLayoutAlign="center center">
            <ion-label style="font-size: 50%;">ALL</ion-label>
          </div>
          <div fxFlex="5" fxLayoutAlign="center center">
            <img src="../../assets/img/adjust.svg">
          </div>
        </ion-card-header>

        <ion-card-content style="width: 100%; height: 81%;">
          <div style="width: 100%; height: 100%;" fxLayout="row">
           

           
           <div fxFlex="100"  fxLayoutAlign="center center">
            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" 
              [chartType]="doughnutChartType" [options]="doughnutChartOptions" [colors]="colors"
              (chartClick)="doughnutChartClicked($event)">
            </canvas>
           </div>
           


          </div>


        </ion-card-content>
      </ion-card>


      <ion-card class="card" fxFlex="50">
        <ion-card-header style="height: 19%; width: 100%; border-bottom:2px solid  #e2e2e2;" fxLayout="row">
          <div fxFlex="53" fxLayoutAlign="start center">
            <ion-label class="title">DELIVERY STATUS</ion-label>
          </div>
          <div fxFlex>

          </div>
          <div fxFlex="20" style="background-color: #e2e2e2; height: 90%;" fxLayoutAlign="center center">
            <ion-label style="font-size: 50%;">ALL</ion-label>
          </div>
          <div fxFlex="5" fxLayoutAlign="center center">
            <img src="../../assets/img/adjust.svg">
          </div>
        </ion-card-header> 

        <ion-card-content style="width: 100%; height: 81%;">
          <div style="width: 100%; height: 100%;" fxLayout="row">
           


            <div fxFlex="100" fxLayoutAlign="center center">
              <canvas baseChart [data]="doughnutChartData1" [labels]="doughnutChartLabels1"
              [chartType]="doughnutChartType1" [options]="doughnutChartOptions1" [colors]="colors1"
              (chartClick)="doughnutChart1Clicked($event)">
            </canvas>
             </div>
          </div>


        </ion-card-content>
      </ion-card>

    </div>



  </ion-content>

