<div style="width: 100%;height: 100%;padding: 3%;">
  <form [formGroup]="passwordform" class="divcontent" (ngSubmit)="onClickSubmit()">
    <div>
      <ion-label class="forgottxt">Change Password</ion-label>
    </div>
      <div style="width: 100%;" >
       
          <ion-item>
            <ion-label position="floating">Current Password</ion-label>
            <ion-input type="password" clear-on-edit="false" required formControlName="current_password"></ion-input>

          </ion-item>
         <p style="color: red;"
            *ngIf="!passwordform.get('current_password').valid && passwordform.get('current_password').touched">This
            filed cannot be empty!</p> 
            <!-- <p style="color: red;"
            *ngIf="f.current_password.invalid && f.current_password.touched">This
            filed cannot be empty!</p> -->
        
          <ion-item>
            <ion-label position="floating">New Password</ion-label>
            <ion-input type="password" clear-on-edit="false"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,15}$"
            formControlName="new_password" required></ion-input>

          </ion-item>
          <p style="color: red;" *ngIf="!passwordform.get('new_password').valid && passwordform.get('new_password').touched ">should
            be minimum of 6-15 , with lower,upper and special characters</p>
          <!-- <p style="color: red;" *ngIf="!passwordform.get('new_password').valid && passwordform.get('new_password').touched ">should
            be minimum of 6-15 , with lower,upper and special characters</p> -->
        
        
          <ion-item>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="password" clear-on-edit="false" required formControlName="conf_password"></ion-input>

          </ion-item>

          <p style="color: red;"
        *ngIf="!(passwordform.get('new_password').value == passwordform.get('conf_password').value) && passwordform.get('new_password').touched ">
        password didn't match</p>
        <!-- <p style="color: red;"
        *ngIf="!(passwordform.get('new_password').value == passwordform.get('conf_password').value) && passwordform.get('new_password').touched ">
        password didn't match</p> -->
      </div>
      <div >
        
          <button  [disabled]="!passwordform.valid || !(passwordform.get('new_password').value == passwordform.get('conf_password').value)" type="submit" class="sumbtn">Update</button>
        
      </div>

    
  </form>

</div>
  
