
<body class="dailogbox">
  <form [formGroup]="passwordform" style="margin-top: 40px;margin-bottom: 35px;height: 100%;margin-right: 10% ;margin-left: 10%;" (ngSubmit)="onClickSubmit()">
    <div fxLayout="column" fxFlex="100" style="height: 100%;" fxLayoutAlign="space-between center">
      <div fxFlex="75" fxLayout="column" fxLayoutAlign="space-between start">
       <div>
        <ion-item>
          <ion-label position="floating">Current Password</ion-label>
          <ion-input  type="password"  required formControlName="current_password"></ion-input>
         
        </ion-item>
        <p style="color: red;" *ngIf="!passwordform.get('current_password').valid && passwordform.get('current_password').touched">This filed cannot be empty!</p>
       </div>
       <div>
        <ion-item>
          <ion-label position="floating">New Password</ion-label>
          <ion-input type="password"  required formControlName="new_password"></ion-input>
          
        </ion-item>
        <p style="color: red;" *ngIf="(!passwordform.get('new_password').valid && passwordform.get('new_password').touched)">This filed cannot be empty!</p>
        
      </div>
        <div>
          <ion-item>
            <ion-label position="floating">Conf Password</ion-label>
            <ion-input type="password"  required formControlName="conf_password" ></ion-input>
           
          </ion-item>
          
          <p style="color: red;" *ngIf="(!passwordform.get('conf_password').valid && passwordform.get('conf_password').touched) || (passwordform.get('new_password').value != passwordform.get('conf_password').value)">Password didn't match!</p>

        </div>
      </div>
      <div fxFlex="25" fxLayout="row"  fxLayoutAlign="space-evenly center">
        <div>
          <button fxFlexAlign="stretch" [disabled]="!passwordform.valid" type="submit" class="sumbtn">Update</button>
        </div>
      </div>
    
    </div>
  </form>
  
</body>