.dailogbox{
    width: 77.9% ;
    height: 370px;
    
    max-height:98vw ;
    border-radius: 8px ;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16) ;
 background-color: white ;
  border-top: 8px solid #fe9e46 ;
  position: absolute;
  top: 27vh;
  left: 11.066666666666666vw;
  
  padding-bottom: 10%;
}
.sumbtn{
    width: 120px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fe9e46;
  color: #ffffff;
}

