<ion-header class="header">
  <ion-label class="name">Hello Casandra Mariya,</ion-label>
  <ionlabel class="A-and-P">Approved and Pending Tickets</ionlabel>
  <img class="bell" src="../../assets/img/bell.svg"><div class="noti-number">9</div>
  <img class="pic" src="../../assets/img/user (1)@3x.png">
</ion-header>

<ion-content>
  <div style="height: 7.5%; width: 100%;"> <ion-label class="approved">Approved (20)</ion-label>
    <div class="ul-1"></div>
    <ion-label class="pending">Pending (10)</ion-label>
    <div class="ul-2" [hidden]="true"></div></div>
  <div class="card-div"
  fxLayout="column"
     fxLayout.sm="column" fxLayout.lg="row" fxLayout.xs="column">
    <ion-card  *ngFor="let d of data" class="card" (click)="onClicknavigate()">
      <ion-card-header class="card-header"><ion-label class="invoiceno">INVOICE NO : <ion-label class="num">7538982</ion-label> </ion-label ></ion-card-header>
      <ion-card-content style="padding: 0%; width: 100%; height: 100%;">
        <div class="cardbody">
           
            <div>
              <ion-label class="vehicle1">Vehicle No:</ion-label><br>
              <ion-label class="vehicleno1">TN 66 A 1278</ion-label>
              
              
            </div>
            <div>
           
              <ion-label class="eway1"> Ewaybill No:</ion-label><br>
            
            <ion-label class="ewaybill1">{{d.key1}}</ion-label>
            
            
          </div>
          
          <div >
            <ion-label class="outbound1">Outbound Delivery:</ion-label><br>
            <ion-label class="outbounddelivery1">877932</ion-label>
          </div>
        </div>
        <div>
         <button class="view" (click)="handleButtonClick()" ><ion-label class="view-txt">View Details</ion-label></button>
         <button class="confirm">
          <ion-label class="con-txt"><img class="tick" src="../../assets/img/tick (3).svg">Confirm</ion-label>
        </button>
        </div>      
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
