

  <form [formGroup]="otpform" (ngSubmit)="onClickSubmit()" class="divcontent">
    <div>
      <ion-label class="forgottxt">Change Password</ion-label>
    </div>
    <div style="width: 100%;">
      <ion-item style="width: 100%;">
        <ion-label position="floating">OTP</ion-label>
        <ion-input formControlName="otp" type="tel" maxlength="6" required></ion-input>

      </ion-item>
      <p style="color: red; width: 100%;" *ngIf="!otpform.get('otp').valid && otpform.get('otp').touched">OTP should be
        minimum 6!</p>

      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input type="password" clear-on-edit="false"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,15}$"
          formControlName="new_password" required></ion-input>

      </ion-item>
      <p style="color: red;" *ngIf="!otpform.get('new_password').valid && otpform.get('new_password').touched ">should
        be minimum of 6-15 , with lower upper and special characters</p>
      <ion-item>
        <ion-label position="floating">Conf Password</ion-label>
        <ion-input type="password" clear-on-edit="false" formControlName="conf_password" required></ion-input>

      </ion-item>
      <p style="color: red;"
        *ngIf="!(otpform.get('new_password').value == otpform.get('conf_password').value) && otpform.get('new_password').touched ">
        password didn't match</p>
    </div>
    <div>
      <button type="submit"
        [disabled]="!otpform.valid || !(otpform.get('new_password').value == otpform.get('conf_password').value)"
        class="sumbtn">Update</button>
    </div>

  

 


