<ion-header class="header">
  <ion-label class="name">Hello Casandra Mariya,</ion-label>
  <ionlabel class="A-and-P">Approved and Pending Tickets</ionlabel>
  <img class="bell" src="../../assets/img/bell.svg">
  <div class="noti-number">9</div>
  <img class="pic" src="../../assets/img/user (1)@3x.png">
</ion-header>

<ion-content>
  <ion-card class="maincard">
    <ion-card-header class="maincard-header">
      <div class="headerline"></div>
      <div class="headingbox">
        <ion-label class="heading">INVOICE</ion-label>
      </div>
      <div class="invoicedescription">
        <ion-grid>
          <ion-row>
            <ion-col class="invoicedet">
              <ion-label>INVOICE NO:</ion-label>
            </ion-col>
            <ion-col class="invoicedet">
              <ion-label>INVOICE DT:</ion-label>
            </ion-col>
            <ion-col class="invoicedet">
              <ion-label>INVOICE TYPE:</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="invoicedet-1">
              <ion-label>#846593</ion-label>
            </ion-col>
            <ion-col class="invoicedet-1">
              <ion-label>23/06/1717</ion-label>
            </ion-col>
            <ion-col class="invoicedet-1">
              <ion-label>Test</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </ion-card-header>


    <ion-card-content style="padding:0%">
      <div>
        <ion-grid>
          <ion-row>
            <ion-grid>
              <ion-row>
                <ion-col style="text-align: center; padding-top: 10%;">
                  <img src="../../assets/img/truck (2).svg" class="truck-2"><br>

                  <ion-label>Vehicle ID</ion-label><br>
                  <ion-label>#846593:</ion-label>
                </ion-col>
                <ion-col style="text-align: center; padding-top: 10%;">
                  <img src="../../assets/img/send (2).svg" class="send-2"><br>
                  <ion-label>Forward Agent</ion-label><br>
                  <ion-label>Walmart</ion-label>
                </ion-col>
                <ion-col style="text-align: center; padding-top: 10%;">
                  <img src="../../assets/img/invoice (2).svg" class="invoice-2"><br>
                  <ion-label>Ewaybill No:</ion-label><br>
                  <ion-label>436892</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-row>
        </ion-grid>
      </div>

      <div style="border-top: 2px solid #e2e2e2;">
        <ion-grid style="padding:0%">
          <ion-row>
            <ion-col style="text-align: center; padding-top: 5%;padding-bottom:5% ; border-right: 2px solid #e2e2e2;border-bottom: 2px solid #e2e2e2;">
              <img src="../../assets/img/shipping-and-delivery (3).svg" class="invoice-2"><br>
              <ion-label>FREIGHT ORDER:</ion-label><br>
              <ion-label>436892</ion-label>
            </ion-col>
            <ion-col style="text-align: center; padding-top: 5%;padding-bottom:5%;border-bottom: 2px solid #e2e2e2;">
              <img src="../../assets/img/calendar.svg" class="invoice-2"><br>
              <ion-label>FREIGHT ORDER DT:</ion-label><br>
              <ion-label>436892</ion-label>
            </ion-col>
          </ion-row>
          <ion-row style="padding:0%">
            <ion-col style="text-align: center; padding-top: 5%;padding-bottom:5%; ">
              <img src="../../assets/img/robot.svg" class="invoice-2"><br>
              <ion-label>PLANT:</ion-label><br>
              <ion-label>436892</ion-label>
            </ion-col>
            <ion-col style="text-align: center; padding-top: 5%;padding-bottom:5%; border-left: 2px solid #e2e2e2;">
              <img src="../../assets/img/organization.svg" class="invoice-2"><br>
              <ion-label>ODIN:</ion-label><br>
              <ion-label>436892</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </ion-card-content>
  </ion-card>
  <div class="lastheading">
    <ion-label class="item-det">Invoice Item Details</ion-label><br>

    <div class="underline"></div>

  </div>

  <div class="downmaingrid">
    <div style="width: 100%;height: 50%; border-bottom: 2px solid #e2e2e2; ">
      <div class="downgrid-1">
        <img src="../../assets/img/to-do-list.png" class="invoice-21"><br>
              <ion-label>ODIN:</ion-label><br>
              <ion-label>436892</ion-label>
      </div>
      
      <div class="downgrid-2">
        <img src="../../assets/img/number.svg" class="invoice-22"><br>
              <ion-label>ODIN:</ion-label><br>
              <ion-label>436892</ion-label>
      </div>
    </div>

    <div  class="downgrid-3">
      <img src="../../assets/img/boxes.svg" class="invoice-22"><br>
              <ion-label>ODIN:</ion-label><br>
              <ion-label>436892</ion-label>
    </div>
  </div>
</ion-content>