

.mainimg{
   height: 33.3%;
   width: 100%;
   
   
}
.logodiv{
  width: 29.5%;
  height: 18.1%;
  opacity: 0.83;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 33.5%;
  top:6.2%;
}